{% extends 'main.html' %}
{% block content %}

    <table class="table-style">
        <thead>
            <tr>
                <th>Id</th>
                <th>Reference</th>
                <th>Brand</th>
                <th>expiry date</th>

            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <th>{{item.id}}</th>
                <th>{{item.reference}}</th>
                <th>{{item.brand}}</th>
                <th>{{item.date_exp}}</th>



            </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock content%}
