[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.5.0"
Django = "==3.1.6"
pytz = "==2022.1"
sqlparse = "==0.4.2"
psycopg2 = "*"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.8"
